{% load note_tags %}

{% if not hide_icon %}
<small class="text-muted font-weight-bold show-tooltip" title="Edit tags" data-placement="bottom">
    <a class="fa fa-tags" href="{% url 'edit' doc_id %}"></a>
</small>
{% endif %}

{% for tag in tags %}
    <a href="#" class="badge badge-pill badge-{{ tag | tagstyle }} note-badge show-tooltip"
       title="{{ tag }}" data-placement="bottom" data-parent="card-footer" data-tag="{{ tag }}">
    </a>
{% endfor %}