{% load static %}
{% load note_tags %}

<div class="container" id="tag-manager">
    <div class="row">
        <div class="col-md-12">
            <p>
                Use tags to organize and filter your Notes.
            </p>
            <p>
                You can have at most <b>{{ MAX_TAGS }}</b> tags. Create or delete them from this page or from the side
                menu.
            </p>
            <p class="text-muted">
                <b>Deleted tags are removed from every note and can not be restored.</b>
            </p>
        </div>
    </div>
    <div class="row">
        {% for tag in all_tags %}
            {% if not forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
            {% endif %}
            <div class="col-md-6 col-sm-12 col-xs-12 w-100 my-2">
                <form method="POST" action="{% url 'tags_delete' %}" class="form-inline w-100 delete-tag">
                    <div class="input-group w-100 mr-md-5">
                        <label class="form-control">
                            <i class="tag-icon text-{{ tag | tagstyle }} fa fa-tag"></i>
                            {{ tag }}
                        </label>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-danger form-control trigger-async" data-text-async="Deleting...">
                                <i class="fa fa-trash"> </i>
                            </button>
                        </div>
                        <input type="hidden" name="tag" value="{{ tag }}">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        {% endfor %}
        <div class="col-md-6 col-sm-12 col-xs-12 w-100 my-2">
            {% if all_tags|length >= MAX_TAGS %}
                <form class="form-inline w-100 pr-md-5">
                    {% csrf_token %}
                    <div class="form-group input-group w-100 mr-md-5">
                        <input class="form-control" type="text" disabled placeholder="You cannot have more than {{ MAX_TAGS }} tags.">
                        <div class="input-group-append">
                            <button disabled class="btn btn-success form-control">
                                <i class="fa fa-plus"></i> <i class="fa fa-tag"></i>
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}
                <form class="form-inline w-100 pr-md-5" method="POST" action="{% url 'tags' %}" id="new-tag">
                    {% csrf_token %}
                    <div class="form-group input-group w-100 mr-md-5">
                        <input class="form-control" type="text" name="tag" maxlength="32" placeholder="Max 32 characters">
                        <div class="input-group-append">
                            <button id="tag-create" type="submit" class="btn btn-success form-control"><i class="fa fa-plus"></i> <i class="fa fa-tag"></i> </button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    {% if message.tags != 'success' %}
                        {# show messages #}
                        <div role="alert" class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}"
                             id="{{ message.tags }}-msg">
                            <span class="badge badge-pill {% if message.tags == 'error' %} badge-danger {% else %} badge-{{ message.tags }} {% endif %}">{{ message.tags }}</span> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>