/*
 Copyright (c) 2020 Chino.io
*/

#dashboard {

  #right-panel {
    .breadcrumbs {
      padding-top: 15px;

      .vertical-middle {
        vertical-align: middle;
      }

      .btn-group > .btn-group-addon {
        // same as bootstrap buttons
        padding: .375rem .75rem;
      }

      .btn {
        border: 0;
      }
    }

    .header-menu{
      h2 {
        font-size: 1.9rem;
        margin-left: 10px;
      }
    }

    .content {
      .card {

        .card-header {
          cursor: pointer;
          padding: 10px;

          @media (min-width: $screen-sm-min) {
            padding-bottom: 0;
          }

          p {
            margin-bottom: 0;
          }

          .note-title {
            color: black;
            font-weight: bold;
            font-size: 18px;
          }

          .last-update {
            @media (min-width: $screen-sm-min) {
              text-align: left;
            }
          }
        }

        .card-body {
          padding: 10px;

          p {
            margin: 3px;
            font-size: 14px;
          }
        }

        .card-footer {
          min-height: 0;
          padding: .25em .5em;
          background-color: rgba(0,0,0,.03);
          border-top: 1px solid rgba(0,0,0,.125);
        }
      }

      .not-responsive {
        pointer-events: none !important;
      }

    }
  }

}