/*
 Copyright (c) 2020 Chino.io
*/

#editor {
  .asteriskField {
    display: none;
  }

  //.save-status-icon {
  //  color: $success_green;
  //}

  #editable-note {

    .form-control:focus {
      box-shadow: unset;
    }
    #id_title {
      font-size: 24px;
      border: unset;
      border-bottom: 1px solid gray;
      background: unset;
    }
    #id_content {
      resize: none;
      border: 1px solid grey;
      box-shadow: 5px 5px 2px 0 grey !important;
      background: white;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      :active {
        border: unset;
      }
    }
    #taglist {
      label {
        padding: 5px 10px;
        background-color: transparent;
      }
      label.checked {
        background-color: rgba(40, 167, 69, 0.31);
      }
    }
  }
}