.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $gray-700;
  background: $white;
  text-align: center;
  padding: 10px 0;

  img {
    max-height: 20px;
  }

  a {
    color: $gray-700;
  }
}