/*
 Copyright (c) 2020 Chino.io
*/

#login, #auth {

  .app-name {
    font-size: 30px;
    letter-spacing: 2px;
    .notacy-logo {
      max-height: 35px;
    }
  }

  .asteriskField {
    display: none;
  }

  .login-logo {
    color: $text_light;
  }

  .primary-txt {
    text-align: center;
  }
  .secondary-txt {
    text-align: justify;
  }
}