/*
 Copyright (c) 2020 Chino.io
*/

.open {
  .hide-when-closed {
    display: none;
  }

  .show-when-closed, .menu-icon {
    // centered icons
    padding-left: 9px;
    padding-right: 9px;
  }
  #left-panel {
    padding-left: 5px;
    padding-right: 25px;
  }
  .sidebar-menu-item {
    margin-left: 0;
  }
}


#left-panel {
  padding-left: 5px;
  padding-right: 25px;

  .notacy-logo {
    max-height: 35px;
    margin-right: 5px;
    font-size: 28px;
    padding-right: 5px;
  }
  .hidden > .notacy-logo {
    padding-right: 0;
  }

  .sidebar-menu-item {
    margin-left: 9px;
  }

  .tag-icon {
    padding-top: 3px;
    padding-left: 4px;
    width: 20px;
    height: 20px;
    background: white;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
  }
}

#menuToggle {
  margin: -2px 20px 0 -54px;
}
