/*
 Copyright (c) 2020 Chino.io
*/

// SCREEN SIZE
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-md: 992px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: $screen-md;
$screen-sm: 768px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: $screen-sm;
$screen-xs: 480px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-xs-min: $screen-xs;

// COLOR
$card_title: rgba(0,0,0,.03);
$text_light: white;

// button
$success_green: rgb(40, 167, 69);
$danger_red: rgb(220, 53, 69);
