/*
 Copyright (c) 2020 Chino.io
*/

.hide-xs {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.only-xs {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}