/*
 Copyright (c) 2020 Chino.io
*/

@import "variables";
@import "visibility";
@import "sidebar";

@import "login";
@import "dashboard";
@import "editor";
@import "tags";
@import "footer";

a.btn-dark, a:not([href]).btn-dark {
  color: $text_light !important;
}

a.btn-outline-dark:hover a:not([href]).btn-outline-dark:hover {
  color: $text_light !important;
}