body {
    background-color: rgba(255, 255, 255, 0);
    color: #343A40;
}

.hidden-link {
    text-decoration: none;
}

.centered {
    margin: auto;
}

.top-bar-hr {
    border-color: white;
}

.alert {
    padding-bottom: 0;
}

.btn-group {
    padding-bottom: 12px;
}