{% load static %}

{% include 'notes/common/open.html' %}
{% include "notes/common/before_page.html" with page_name=page_name %}

<body>

{% include 'notes/common/left_panel.html' %}

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    {% include 'notes/common/page_header.html' %}

    <!-- Right Content -->
    <div class="content mt-3">

        {# * * * * * * * * * * * * * * * #}
        {# WRITE THE PAGE'S CONTENT HERE #}
        {# * * * * * * * * * * * * * * * #}

    </div> <!-- END Right Content -->

</div><!-- END Right Panel -->

{% include 'notes/common/after_page.html' %}

</body>

{% include 'notes/common/close.html' %}