{% load static %}
{% load humanize %}
{% load resmap %}
{% load note_tags %}

{% include 'notes/common/open.html' %}
{% include "notes/common/before_page.html" %}

<body id="dashboard">

{% include 'notes/common/left_panel.html' with dashboard=True %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'notes/common/page_header.html' with dashboard=True %}

    {# TODO implement pagination #}
    {#    <!-- Navigation bar -->#}
    {#    <div class="breadcrumbs">#}
    {#        <div class="page-header">#}
    {#            <div class="row align-items-center">#}
    {#                <div class="col-md-8">#}
    {#                    <div class="btn-group">#}
    {#                        <a href="" class="btn btn-outline-dark">< Previous</a>#}
    {#                        <span class="btn-group-addon text-muted">Page 1 of 1</span>#}
    {#                        <a href="" class="btn btn-outline-dark">Next ></a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4">#}
    {#                    <div class="float-right">#}
    {#                        <button class="btn btn-outline-dark expand-all"><i class="fa fa-plus-square "> </i></button>#}
    {#                        <button class="btn btn-outline-dark collapse-all"><i class="fa fa-minus-square "> </i></button>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- END Navigation bar -->#}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags != 'success' %}
                {# show messages #}
                <div role="alert" class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}"
                     id="{{ message.tags }}-msg">
                    <span class="badge badge-pill {% if message.tags == 'error' %} badge-danger {% else %} badge-{{ message.tags }} {% endif %}">{{ message.tags }}</span> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Right Content -->
    <div class="content mt-3">
        {% for doc in object_list %} {% with note_id=doc.document_id %}
            <div class="col-xl-4 col-lg-4 col-md-4 same-height">
                {# Note element, repeat for each Note #}
                <div class="card">
                    <div class="card-header" data-id="{{ doc.document_id }}">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-sm-8 col-xs-12 note-title">
                                    <p class="note-title">
                                        {{ doc.content.title }}
                                    </p>
                                </div>
                                <div class="col-sm-4 hide-xs">
                                    <div class="float-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="action-buttons">
                                            {# tooltips are triggered in dashboard.js: add class .show-tooltip and 'title' attribute #}
                                            <button type="button" class="btn btn-danger small show-tooltip" title="Delete"
                                                    data-toggle="modal" data-target="#del-{{ note_id }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-muted small mr-2 last-update">
                                        last updated {{ doc.last_update | str2date | naturaltime }}
                                    </p>
                                </div>
                            </div>
                            <div class="row only-xs mt-3">
                                <div class="col-md-12 d-flex">
                                    <span class="btn-group w-100" role="group" aria-label="action-buttons">
                                        <button type="button" class="btn btn-danger w-100 triggers-async"
                                                data-toggle="modal" data-target="#del-{{ note_id }}">
                                            <i class="fa fa-trash"></i> Delete
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ doc.content.content | truncatechars:140 | urlize }}</p>
                    </div>
                    <div class="modal" tabindex="-1" role="dialog" id="del-{{ doc.document_id }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Note?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Are you sure you want to delete
                                        <strong><i>{{ doc.content.title|truncatechars:50 }}</i></strong>
                                        ? This operation can not be canceled.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger confirm-del trigger-async" data-text-async="Deleting..." data-id="{{ doc.document_id }}">
                                        Yes, delete
                                    </button>
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {# because Django doesn't allow nesting another {% for %} here #}
                        {% include 'notes/fragments/tag_footer.html' with tags=doc.content.tags doc_id=doc.document_id %}
                    </div>
                </div>
            </div>
        {% endwith %}
        {% empty %}
            <div class="col-12 text-muted">
                <p class="h3">
                    There is nothing here... yet ;)
                </p>
                <p class="hide-xs">
                    Create a
                    <a class="btn btn-outline-success my-4" href="{% url 'create' %}">
                        <i class="fa fa-plus"></i>
                        <span class="hide-when-closed">New Note</span>
                    </a>
                    now!
                </p>
            </div>
        {% endfor %}

    </div> <!-- .content -->
    <!-- END Right Content -->

</div><!-- /#right-panel -->

<!-- END Right Panel -->

{% include 'notes/common/after_page.html' with dashboard=True %}
<script type="text/javascript">
    {# Init modals for delete #}
    d("{% url 'delete' %}", '{{ csrf_token }}');
    {# Make <div> items with Note titles clickable #}
    v("{% url 'edit' '00000000-0000-0000-0000-000000000000' %}");
</script>
</body>

{% include 'notes/common/close.html' %}