{% load static %}
{% load note_tags %}
{% load crispy_forms_tags %}

{% include 'notes/common/open.html' %}
{% include "notes/common/before_page.html"%}

<body id="editor">

{% include 'notes/common/left_panel.html' %}

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    {% include 'notes/common/page_header.html' with page_name="Editor" %}

    <!-- Right Content -->
    <div class="content mt-3">

        {% if messages %}
            {% for message in messages %}
                {% if message.tags != 'success' %}
                    {# show messages #}
                    <div role="alert" id="{{ message.tags }}-msg" class="alert alert-dismissible fade show
                        {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %}">
                        <span class="badge badge-pill {% if message.tags == 'error' %} badge-danger {% else %} badge-{{ message.tags }} {% endif %}">
                            {{ message.tags }}
                        </span>
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="col-md-12" id="editor-form">
            <form action="#" method="POST" id="editable-note" novalidate>
                {# buttons on the top of the Note #}
                <button type="button" class="btn btn-success save-and-close show-tooltip" data-placement="bottom"
                        title="Save Note and exit">
                    <i class="fa fa-arrow-left"></i> <i class="fa fa-save ml-2"> </i>
                </button>
                <button type="button" class="btn btn-success show-tooltip save-button"
                        title="Save Note" data-placement="bottom">
                    <i class="fa fa-save"> </i>
                    {% if success == True %}
                        <i class="fa fa-check save-status-icon"> </i>
                    {% endif %}
                </button>
                <button type="button" class="btn btn-danger pull-right" data-toggle="modal"
                        data-target="#del-{{ note_id }}">
                    <i class="fa fa-trash"></i>
                </button>

                {# the actual form #}
                <div class="mt-3"></div>
                {% crispy form %}
                <div class="mb-3"></div>

                {# buttons on the bottom of the Note #}
                <button type="button" class="btn btn-success save-and-close show-tooltip" data-placement="bottom"
                        title="Save Note and exit">
                    <i class="fa fa-arrow-left"></i> <i class="fa fa-save ml-2"> </i>
                </button>
                <button type="button" class="btn btn-success show-tooltip save-button"
                        title="Save Note" data-placement="bottom">
                    <i class="fa fa-save"> </i>
                    {% if success == True %}
                        <i class="fa fa-check save-status-icon"> </i>
                    {% endif %}
                </button>
                <button type="button" class="btn btn-danger pull-right" data-toggle="modal"
                        data-target="#del-{{ note_id }}">
                    <i class="fa fa-trash"></i>
                </button>

                {# save mode (stay/close) #}
                <input type="hidden" class="btn btn-success" id="save-mode" name="savemode" value="stay" hidden>
            </form>
        </div>
        {# DELETE CONFIRMATION MODAL #}
        <div class="modal" tabindex="-1" role="dialog" id="del-{{ doc.document_id }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Note?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you want to delete this note? This operation can not be canceled.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{% url 'delete' %}">
                            {% csrf_token %}
                            <button type="submit" name="document_id" value="{{ document_id }}"
                                    class="btn btn-danger trigger-async" data-text-async="Deleting...">
                                Yes, delete
                            </button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="hidden-icons" hidden>
            {#DO NOT add class 'show-tooltip', breaks page rendering#}
            {% for tag in all_tags %}
                <i class="menu-icon tag-icon text-{{ tag | tagstyle }} mr-2 fa fa-tag" title="{{ tag }}"></i>
            {% endfor %}
        </div>

    </div> <!-- END Right Content -->

</div><!-- END Right Panel -->

{% include 'notes/common/after_page.html' with editor=True %}
</body>

{% include 'notes/common/close.html' %}