{% load static %}
{% load crispy_forms_tags %}

{% include 'notes/common/before_page.html' %}

<body id="login" class="bg-dark">

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <h1 class="app-name">
                    <img class="align-content notacy-logo" src="{% static 'notes/img/notacy-logo.png' %}" alt="">
                    {{ app_name }}
                </h1>
            </div>
            <div class="login-form">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} {% if 'error' in message.tags %} alert-danger {% else %} alert-{{ message.tags }}{% endif %}{% endif %} alert-dismissible fade show"
                             role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p>
                                <span class="font-weight-light">{{ message }}</span>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}

                {% crispy form %}

                {% if not show_register %}
                    <div class="register-link m-t-15 text-center">
                        <p>Already have account ? <a href="{% url 'login' %}"> Login</a></p>
                    </div>
                {% else %}
                    <div class="register-link m-t-15 text-center">
                        <p>Don't have account ? <a href="{%  url 'register' %}"> Sign Up Here</a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'notes/common/after_page.html' %}
<script src="{%  static 'notes/js/main.js' %}"></script>

</body>

</html>
