{% load static %}
{% load humanize %}

{% include 'notes/common/open.html' %}
{% include "notes/common/before_page.html" with page_name=firstname|add:' '|add:lastname %}

<body id="user-profile">

{% include 'notes/common/left_panel.html' %}

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    {% include 'notes/common/page_header.html' %}

    <!-- Right Content -->
    <div class="content mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %} {% if 'error' in message.tags %} alert-danger {% else %} alert-{{ message.tags }}{% endif %}{% endif %} alert-dismissible fade show"
                     role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>
                        <span class="font-weight-light">{{ message }}</span>
                    </p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h2 class="text-sm-center mt-2 mb-1">{{ firstname }} {{ lastname }}</h2>
                        </div>
                        <hr>
                        <div class="card-text text-sm-center">
                            <div class="mb-3 text-sm-center"><i class="fa fa-envelope"></i> {{ user.username }}</div>
                            <div class="mb-3 text-sm-center"><i class="fa fa-calendar-day"></i> Created {{ created | naturaltime }}</div>
                        </div>
                        <hr>
                        <div class="card-text text-sm-center">
                            <a href="{% url 'user_edit' %}" class="btn btn-outline-primary">
                                <i class="fa fa-key"></i> Change password
                            </a>
                            <a href="{% url 'user_delete' %}" class="btn btn-outline-danger confirm-del"
                               data-toggle="modal" data-target="#deleteModal">
                                <i class="fa fa-user-times"></i> Delete account
                            </a>
                        </div>
                        <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Warning</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Are you sure you want to
                                            <strong>delete your account and all your Notes</strong>?
                                            This operation can not be canceled.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'user_delete' %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger confirm-del">Yes, delete</button>
                                        </form>
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END Right Content -->

</div><!-- END Right Panel -->

{% include 'notes/common/after_page.html' %}

</body>

{% include 'notes/common/close.html' %}