{% load static %}
{% load note_tags %}

{% include 'notes/common/open.html' %}
{% include "notes/common/before_page.html" %}

<body>

{% include 'notes/common/left_panel.html' with tags_page=True %}

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    {% include 'notes/common/page_header.html' %}

    <!-- Right Content -->
    <div class="content mt-3">
        {% include 'notes/fragments/tag_manager.html' %}
    </div> <!-- END Right Content -->

</div><!-- END Right Panel -->

{% include 'notes/common/after_page.html' %}

</body>

{% include 'notes/common/close.html' %}