{% load crispy_forms_tags %}
{% load static %}

{% include 'notes/common/open.html' %}
{% include "notes/common/before_page.html" with page_name=page_name %}

<body class="bg-dark" id="auth">


<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <h1 class="app-name">
{#                    <img class="align-content notacy-logo" src="{% static 'images/logo.svg' %}" alt="">#}
                    <i class="fa fa-sticky-note notacy-logo"> </i>
                    {{ app_name }}
                </h1>
            </div>
            <div class="login-form">
                {% if valid == False %}
                    <div class="row text-center">
                        <div class="col-10 offset-1">
                            <p class="h3 primary-txt">{{ main_err_txt }}</p>
                            <p class="secondary-txt">{{ secondary_err_txt }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="row text-center">
                        <div class="col-10 offset-1">
                        <p class="h3 primary-txt">{{ main_txt }}</p>
                        <p class="secondary-txt">{{ secondary_txt }}</p>
                        </div>
                    </div>
                    <div class="login-form">
                        {% crispy form %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'notes/common/after_page.html' %}

</body>

{% include 'notes/common/close.html' %}
