{% load crispy_forms_tags %}
{% load static %}

{% include 'notes/common/open.html' %}
{% include "notes/common/before_page.html" with page_name=page_name %}

<body class="bg-dark" id="auth">


<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <h1 class="app-name">
{#                    <img class="align-content notacy-logo" src="{% static 'images/logo.svg' %}" alt="">#}
                    <i class="fa fa-sticky-note notacy-logo"> </i>
                    {{ app_name }}
                </h1>
            </div><div class=" login-form">
            <div class="row text-center">
                <p class="h3 primary-txt">Password reset sent!</p>
            </div>
            <div class="row text-center">
                <p class="secondary-txt">
                    We have emailed you instructions for setting a new password.
                    If an account exists with the email you entered, you should receive them in a few minutes.
                </p>
                <p class="secondary-txt">
                    If you don't see the email, make sure you have entered the address you use on this site
                    and check your spam folder.
                </p>
            </div>
        </div></div>
    </div>
</div>

{% include 'notes/common/after_page.html' %}

</body>

{% include 'notes/common/close.html' %}
