{% load static %}

<!-- Footer -->
<footer class="footer text-small">
    <div class="container">
        <a href="https://www.chino.io" target="_blank">
            Made with
            <img class="align-content notacy-logo" src="{% static 'notes/img/chino_blue.png' %}">
            Chino.io
        </a>
    </div>
</footer>
<!-- Footer -->

{# Bootstrap 4 #}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

{# Custom js #}
<script src="{% static '/notes/js/main.js' %}"></script>

{% if dashboard %}
    <script src="{% static '/notes/js/dashboard.js' %}"></script>
{% endif %}

{% if editor %}
    <script src="{% static '/notes/js/editor.js' %}"></script>
{% endif %}