{% load static %}
{% load note_tags %}

<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard' %}">
                <img class="align-content notacy-logo" src="{% static 'notes/img/notacy-logo.png' %}" alt="">
                {{ app_name }}
            </a>
            <a class="navbar-brand hidden" href="{% url 'dashboard' %}">
                <img class="align-content notacy-logo" src="{% static 'notes/img/notacy-logo.png' %}" alt="">
            </a>

            <a class="btn btn-outline-success my-4 w-100 sidebar-menu-item" href="{% url 'create' %}">
                <i class="fa fa-plus"></i>
                <span class="hide-when-closed">New Note</span>
            </a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">

            <ul class="nav navbar-nav">

                {% if not dashboard %}
                    {# Dashboard button #}
                    <li class="sidebar-menu-item">
                        <a href="{% url 'dashboard' %}"> <i class="menu-icon fa fa-list"></i>Dashboard </a>
                    </li>
                {% endif %}

                {# Tags list dropdown #}
                <li class="menu-item-has-children dropdown sidebar-menu-item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tags"></i>Tags</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li {% if tags_page %}class="active"{% endif %}>
                            <i class="menu-icon fa fa-plus"></i>
                            <a data-toggle="modal" href="#tagManager">
                                Add/remove tag
                            </a>
                        </li>
                        {% for tag in all_tags %}
                            <li>
                                <i class="menu-icon tag-icon text-{{ tag | tagstyle }} hide-xs fa fa-tag"></i>
                                <i class="menu-icon tag-icon text-{{ tag | tagstyle }} only-xs fa fa-tag show-tooltip"
                                   title="{{ tag }}" data-placement="right"></i>
                                <a href="#">
                                    {{ tag }}
                                </a>
                            </li>
                        {% endfor %}
                        <li {% if tags_page %}class="active"{% endif %}>
                            <i class="menu-icon fa fa-gears"></i>
                            <a href="{% url 'tags' %}">
                                Manage tags...
                            </a>
                        </li>
                    </ul>
                </li>

                {# User profile #}
                <h3 class="menu-title user-profile-heading sidebar-menu-item">
                    {{ user.attributes.first_name }} {{ user.attributes.last_name }}
                </h3>
                <li class="sidebar-menu-item">
                    <a href="{% url 'user' %}"> <i class="menu-icon fa fa-address-card"></i>Your profile </a>
                </li>
                <li class="sidebar-menu-item">
                    <a href="{% url 'logout' %}"> <i class="menu-icon fa fa-sign-out"></i>Logout </a>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </nav>
</aside><!-- /#left-panel -->
<!-- END Left Panel -->

<div id="tagManager" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'notes/fragments/tag_manager.html' %}
            </div>
        </div>
    </div>

</div>
