<!-- Header-->
<header id="header" class="header">

    <div class="header-menu">
        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            <div class="header-left">
                <h2>{{ page_name }}</h2>
                {% if dashboard == True %}
                    <div id="search-query" class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search is coming soon!" aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

        {# TODO: add Search #}

        {% if dashboard == True%}
            <div class="col-sm-5">
                <div class="float-right">
                    <button class="trigger search-trigger"><i class="fa fa-search"></i></button>
                </div>
            </div>
        {% endif %}

    </div>

</header><!-- /header -->
<!-- END Header-->